<!doctype html>
<html>
  <head>
    <title>Week 10: Teach</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
  </head>
  <body class="container-fluid pt-3">
    <h1>Get Person From Database</h1>
    <form method="get" action="/math" class="mb-5">
      <div class="row">
      <div class="form-group col-sm-3">
        <ul>
            <% results.forEach(function(r) { %>
                <li><%= r.id %> - <%= r.lastname %></li>
            <% }); %>
        </ul>
      </div>
      
    <div class="row">
      <div class="col-sm">
        <button type="submit" class="btn btn-outline-primary" id="btnSubmit">Go!</button>
        <button type="button" class="btn btn-outline-secondary" id="btnAjax">Go AJAX!</button>
      </div>
    </div>
    </form>
    <span id="spnResult"></span>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
   <script src="script.js"></script>
  </body>
</html>
