<!doctype html>
<html>
  <head>
    <title>Week 10: Teach</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
  </head>
  <body class="container-fluid pt-3">
    <h1>Get Person From Database</h1>
    <form method="get" action="/getPerson" class="mb-5">
      <div class="row">
      <div class="form-group col-sm-3">
        <label for="op1">ID of Person:</label>
        <input type="number" id="id" step="1" max="13" class="form-control" placeholder="id" name="id" />
      </div>
      
    <div class="row">
      <div class="col-sm">
        <button type="submit" class="btn btn-outline-primary" id="btnSubmit">Go!</button>
        <!-- <button type="button" class="btn btn-outline-secondary" id="btnAjax">Go AJAX!</button> -->
      </div>
    </div>
    </form>
    <span id="spnResult"></span>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
   <script src="script.js"></script>
  </body>
</html>
