<!doctype html>
<html>
  <head>
    <title>Week 10: Teach</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
  </head>
  <body class="container-fluid pt-3">
    <div class="row">
      <div class="col-sm">
        <h1 class="card-title">Result</h1>
        <p>The cost of shipping <%= op1 %> ounces by <%= op %> is $<%= result %>.</p>
        <br />
        <a href="/" class="btn btn-outline-primary">Do another</a>
      </div>
    </div>
  </body>
</html>

