<!doctype html>
<html>
  <head>
    <title>Week 09: Team Assignment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <h1 class="card-title">Result</h1>
        <p>The result of <%= op1 %> <%= op %> <%= op2 %> is <%= result %>.</p>
        <br />
        <a href="/" class="btn btn-outline-primary">Do another</a>
      </div>
    </div>
  </body>
</html>

