<!doctype html>
<html>
  <head>
    <title>Week 10: Teach</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
  </head>
  <body class="container-fluid pt-3">
    <div class="row">
      <div class="col-sm">
        <h1 class="card-title">Result</h1>
        <div class="form-group col-sm-3">
        <ul>
            <% results.forEach(function(r) { %>
                <li><%= r.id %> - <%= r.lastname %></li>
            <% }); %>
        </ul>
      </div>
        <a href="/" class="btn btn-outline-primary">Do another</a>
      </div>
    </div>
  </body>
</html>

