<!doctype html>
<html>
  <head>
    <title>Week 09: Team Assignment</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
  </head>
  <body class="container-fluid pt-3">
    <div class="row">
      <div class="col-sm">
        <h1 class="card-title">Result</h1>
        <p>The result of <%= op1 %> <%= op %> <%= op2 %> is <%= result %>.</p>
        <br />
        <a href="/" class="btn btn-outline-primary">Do another</a>
      </div>
    </div>
  </body>
</html>

